<div class="container-title">
  <h1 class="title-home">{{appTitle}}</h1></div>
{{#if isLoggedIn}}
  <h2 class="logged-msg">Welcome
    <span class="username"> @{{currentUser.username}}</span>!
  </h2>

  <div class="container-resume">
    <div class="match-card">

      <picture class="pic">

        <a href="/profile">
          <img
            class="img-resume"
            src="{{currentUser.image.url}}"
            alt="no picture"
          /></a>

        <ul>

          <li class="name">

            <span class="first-name-resume"> {{currentUser.firstName}} </span>
            <span class="last-name-resume"> {{currentUser.lastName}}</span>
          </li>
          <span>|</span>
          <li class="age">

            <span class="card-data-resume"> {{currentUser.age}} years</span>
          </li>

        </ul>
      </picture>

    </div>
  </div>
{{else}}
  <div class="container-home">
    <div class="index-btn">
      <img class="logo" src="/images/Logojaune.png" alt="" />
      <div>

        <form action="/auth/signup">
          <button type="submit" id="sign-btn">SIGN UP</button>
        </form>
      </div>
      <form action="/auth/login">
        <button type="submit" id="log-btn">LOG IN</button>
      </form>
    </div>
  </div>
{{/if}}