<div class="matchCard">

  <picture>
    <img src="{{match.picture}}" alt="{{match.firstName}} picture" />
  </picture>
  <li>
    {{match.firstName}}
    {{match.secondName}}
    {{match.age}}
    {{match.email}}
  </li>
</div>

{{! <form action="/match" method="POST"> }}
<button id="nextBtn">
  Another one pls
</button>
{{! </form> }}
{{! <form action="/match" method="POST"> }}
<button id="matchBtn">
  yes lets eat
</button>
{{! </form> }}