<form action="/profile" method="POST" enctype="multipart/form-data">

  <p>{{user.0.username}}</p>
  <p>{{user.0.email}}</p>

  <input
    type="text"
    name="firstName"
    value="{{user.0.firstName}}"
    placeholder="First Name"
  />

  <input
    type="text"
    name="lastName"
    value="{{user.0.lastName}}"
    placeholder="Last Name"
  />

  <input
    type="text"
    name="street"
    value="{{user.0.address.street}}"
    placeholder="Street"
  />

  <input
    type="text"
    name="city"
    value="{{user.0.address.city}}"
    placeholder="City"
  />

  <input
    type="text"
    name="postcode"
    value="{{user.0.address.postcode}}"
    placeholder="Post Code"
  />

  <input
    type="text"
    name="prefix"
    value="{{user.0.phone.prefix}}"
    placeholder="Prefix"
  />

  <input
    type="text"
    name="number"
    value="{{user.0.phone.number}}"
    placeholder="Number"
  />

  <input type="text" name="age" value="{{user.0.age}}" placeholder="Age" />

  <input type="file" value="Avatar" name="picture" id="picture" />

  <button>Save</button>
</form>