<form action="/user/{{User._id}}/update" method="POST">

  <form method="post" action="/something" enctype="multipart/form-data">
    <input type="file" name="picture" />
    <button>Upload</button>
  </form>

  <input type="text" name="username" placeholder="{{this.username}}" />

  <input type="text" name="firstName" placeholder="{{this.firstName}}" />
  <input type="text" name="secondName" placeholder="{{this.secondName}}" />

  <input type="number" name="age" placeholder="{{this.age}}" />

  <input type="email" name="email" placeholder="{{this.email}}" />

  <input type="text" name="location" placeholder="{{this.location}}" />

</form>